@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple: rgb(143, 133, 158);
    --gray: rgb(243, 243, 243);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 50px 100px;
    font-family: Poppins;
}

button {
    cursor: pointer;
}

h2 {
    text-align: center;
}

h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: var(--purple);
    margin: 10px auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header_social {
            display: flex;
            flex-direction: row;

            p {
                margin-right: 10px;
            }

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0;
                padding: 0;
                list-style-type: none;
                gap: 10px;

                li {
                    cursor: pointer;
                    font-size: 1.6rem;

                    a {
                        text-decoration: none;
                        color: inherit;
                        transition: .5s;
                    }

                    a:hover {
                        transition: .5s;
                        color: var(--purple);
                    }
                }


            }
        }

        .header_phone {
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .header-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        #button {
            cursor: pointer;
            display: none;
        }

        nav {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin: 0;
                padding: 0;
                list-style-type: none;
                font-family: Lato;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}

.booking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .slider {
        width: 900px;
        height: 500px;

        & swiper-container {
            position: relative;
            width: 100%;
            height: 100%;

            .swiper-slide {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: #f4f4f4;
                padding: 20px;
                border-radius: 10px;
            }

            .overflow {
                position: absolute;
                top: 10%;
                left: 10%;
                color: white;

                .title {
                    font-size: 4rem;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                }

                .subtitle {
                    border-left: 3px solid white;
                    padding-left: 10px;
                    padding-right: 500px;
                    font-size: 1.5rem;
                }

                a {
                    color: white;
                    border: 3px solid white;
                    background-color: transparent;
                    font-size: 1rem;
                    padding: 10px 50px;
                    width: 150px;
                    height: 50px;
                    text-decoration: none;
                }
            }
        }

    }

    .form {
        width: 300px;

        & form {
            display: grid;
        }

        input,
        select,
        button {
            margin-bottom: 10px;
            padding: 8px;
        }

        input[type="text"],
        input[type="date"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
            color: #333;
            box-sizing: border-box;
        }

        input[type="text"]:focus,
        input[type="date"]:focus,
        select:focus {
            outline: none;
        }

        button {
            border: 3px solid black;
            background-color: transparent;
            font-size: 1rem;
            width: 150px;
            height: 50px;
        }

        select {
            appearance: none;
            background-color: white;
            position: relative;
            background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="none" stroke="%23000" stroke-width=".5" d="M2 0L0 2h4z"/></svg>');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 10px;
        }

        select option {
            color: #333;
            background: #fff;
            padding: 10px;
        }
    }
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .video {
        iframe {
            aspect-ratio: 16 / 9;
            width: 100% !important;
            height: 335px;
        }
    }

    .aboutus {
        background-color: var(--purple);
        color: white;
        padding: 50px;
        box-shadow: 10px 10px 34px -15px rgba(0, 0, 0, 0.75);

        .dates {
            display: flex;
            justify-content: space-around;
        }

        button {
            color: white;
            border: 3px solid white;
            background-color: transparent;
            font-size: 1rem;
            width: 150px;
            height: 50px;
        }

        dialog {
            .form {
                width: 300px;

                & form {
                    display: grid;
                }

                input,
                select,
                button {
                    margin-bottom: 10px;
                    padding: 8px;
                }

                input[type="text"],
                input[type="date"],
                select {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 15px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 14px;
                    color: #333;
                    box-sizing: border-box;
                }

                input[type="text"]:focus,
                input[type="date"]:focus,
                select:focus {
                    outline: none;
                }


                select {
                    appearance: none;
                    background-color: white;
                    position: relative;
                    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="none" stroke="%23000" stroke-width=".5" d="M2 0L0 2h4z"/></svg>');
                    background-repeat: no-repeat;
                    background-position: right 10px center;
                    background-size: 10px;
                }

                select option {
                    color: #333;
                    background: #fff;
                    padding: 10px;
                }

                button {
                    color: black;
                    border: 3px solid black;
                    background-color: transparent;
                    font-size: 1rem;
                    width: 150px;
                    height: 50px;
                }

            }
        }
    }
}


.amenities {
    .amenities_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        text-align: center;

        i {
            font-size: 2rem;
        }

        .title_amenities {
            font-size: 1.5rem;
            font-weight: bold;
        }

        p {
            font-size: .8rem;
        }
    }
}

.guests {
    .guests_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        .container {
            position: relative;
            overflow: hidden;
            width: 350px;
            margin-bottom: 10px;
            box-shadow: 10px 10px 34px -15px rgba(0, 0, 0, 0.75);

            img {
                display: block;
                width: 100%;
                height: 100%;
                transition: all 1s ease-in-out;
            }



            .overflow {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;

                .title_guests {
                    font-size: 1.6rem;
                    font-weight: bold;
                }

            }
        }

        .container:hover {
            img {
                transform: scale(110%);
                transition: all 1s ease-in-out;
            }
        }
    }
}

.data {

    .data_container {
        display: grid;
        justify-items: center;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        column-gap: 1px;


        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 200px;
            color: white;
            background-color: var(--purple);

            p {
                padding: 0;
                margin: 0;
            }

            .number {
                font-size: 3rem;
            }
        }
    }

}

.gallery {

    .gallery_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 1rem;
        padding-bottom: 10px;
        grid-auto-flow: dense;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease, filter 0.3s ease;
            filter: grayscale(100%);
        }

    }

    .gallery_container a:hover img {
        filter: grayscale(0%);
        transform: scale(1.05);
    }
}

.prices_testimonial {
    display: flex;
    flex-direction: row;
    background-image: url("resources/header2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

    .prices {
        width: 50%;
        display: flex;
        flex-direction: column;

        .accordion-content {
            display: none;
            padding: 15px;
            border: 1px solid var(--gray);
            background-color: rgba(255, 255, 255, 0.8);
        }

        .accordion-header {
            width: 100%;
            text-align: center;
            font-size: 1rem;
            padding: 15px;
            background-color: var(--gray);
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.4s;
            box-shadow: 10px 10px 34px -15px rgba(0, 0, 0, 0.75);
        }

        .accordion-header:hover {
            background-color: var(--purple);
        }

        .accordion-header.active {
            background-color: var(--purple);
        }
    }

    .wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;

        .testimonials {
            display: flex;
            flex-direction: row;
            box-shadow: 10px 10px 34px -15px rgba(0, 0, 0, 0.75);
            height: 100%;

            .testimonial-slider {
                height: 100%;
                margin: auto;
                text-align: left;
                overflow: hidden;

                .swiper-slide {
                    background-color: var(--gray);
                }
            }

            .testimonial-thumbnails {
                height: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .swiper-wrapper {
                    flex-direction: column;
                }

                .swiper-slide {
                    margin-bottom: 10px;
                }

                .swiper-slide img {
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    border: 2px solid transparent;
                    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
                    transition: border 0.3s ease;
                }

                .swiper-slide-thumb-active img {
                    border-color: #007aff;
                }
            }
        }
    }
}

.blog {
    margin-bottom: 100px;

    .blog_container {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 10px 5px;

        .container {
            cursor: pointer;
            background-color: var(--gray);
            display: grid;
            grid-auto-flow: column;
            width: 500px;
            box-shadow: 10px 10px 34px -15px rgba(0, 0, 0, 0.75);

            img {
                width: 250px;
            }

            .content {
                display: flex;
                flex-direction: column;

                .date {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: flex-start;

                    p {
                        margin-bottom: 5px;
                    }

                    .wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;


                    }


                }
            }

        }

    }
}


.googlemaps {
    iframe {
        width: 100%;
        height: 300px;
    }
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

footer {
    background-color: whitesmoke;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    margin: 0 20px;

    h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
        font-weight: bold;
    }

    p {
        margin: 5px 0;
        font-size: 0.9em;
        color: #333;
    }

    a {
        color: var(--gray);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 10px;
        font-size: 0.8em;
    }
}

/* Newsletter input and button styling */
.newsletter {
    input[type="email"] {
        width: 70%;
        padding: 10px;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 0.9em;
    }

    button {
        padding: 10px 20px;
        background-color: #7a6b8e;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.9em;
    }

    button:hover {
        background-color: #655879;
    }


}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    header {
        .header-top {
            flex-direction: column;
            align-items: center;
        }

        .header-bottom {
            flex-direction: column;
            align-items: center;

            #button {
                display: block;
            }

            nav {
                display: none;

                ul {
                    flex-direction: column;
                }
            }
        }
    }

    .booking {
        flex-direction: column;

        .slider {
            width: 100%;

            swiper-container {
                .overflow {
                    .title {
                        font-size: 2rem;
                    }

                    .subtitle {
                        padding: 20px;
                    }
                }
            }
        }
    }

    .about {
        flex-direction: column;
    }

    .amenities {
        .amenities_container {
            flex-direction: column;

            .container {
                cursor: pointer;
            }
        }
    }

    .guests {
        .guests_container {
            flex-wrap: wrap;
            align-items: center;

            .container {
                cursor: pointer;
            }
        }
    }

    .data {
        .data_container {
            grid-auto-flow: row;
            grid-template-columns: auto;
            column-gap: 0;
            row-gap: 5px;
        }
    }


    .prices_testimonial {
        flex-direction: column;

        .prices {
            width: 100%;
        }

        .wrapper {
            width: 100%;
        }
    }

    .blog {
        .blog_container {
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 1fr);

            .container {
                grid-auto-flow: row;
                width: 100%;

                img {
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
    }



}

@media screen and (max-width: 480px) {
    .blog {
        .blog_container {
            grid-auto-flow: row;
            grid-template-columns: auto;
        }
    }

    footer {
        flex-direction: column;
    }
}